* {
    box-sizing: border-box;
}
html, body {
    margin :0;
    background: whitesmoke;
}
ul{
    list-style: none;
}

.nav {
    background: #2c3e50;
    height: 42px ;
    display: flex;
    justify-content: space-between;
}
.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.sidebar-list {
    padding: 10px;
}
.sidebar-item{
    padding : 5px;
    color: cornflowerblue;
}
table{
    margin-left: 20px;
}
.Nameshop{
    margin-left: 20px;
}

.column{
    float: left;
    padding: 40px;
}
.column.left{
    width: 25%;
}
.column.right1{
    width: 75%;
}
.column.right{
    display: flex;
    flex-wrap: wrap;
}

.content-item{
    padding : 0 16px;
    width: 30%;
    height: auto;
    margin: 10px;
}
  /* Clear float khác sau các cột */
.container:after {
    content: "";
    display: table;
    clear: both;
}
 
.footer{
    width: auto;
    color: white;
    text-align: center;
    background: #2c3e50;
    padding: 5px ;
}
.img-item{
    width: 100%;
    height:160px;
    margin: 0px;
    border-radius: 10%;
}
.img-slider{
    padding-left: 100px;
}
h2{
    color: cornflowerblue;
}

/* Làm slider  */
.slider{
    width: 68%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
}
.slider-imgs{
    display: flex;
}
.slider-imgs img{
    width: 100%;
}
.slider-imgs input{
    display: none;
}
.label-slider{
    display: flex;
    justify-content: center;
}
.label-slider label{
    height: 10px;
    width: 50px;
    border: 1px solid black;
    margin: 2px;
}
.label-slider label:hover{
    background: cyan;
}
#img1:checked ~ .imgslider1{
    margin-left: -100%;
}
#img2:checked ~ .imgslider2{
    margin-left: -200%;
}
#img3:checked ~ .imgslider3{
    margin-left: -300%;
}
